name: Publish Python Package to PyPI

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write  # Обязательно для trusted publishing

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install build and twine
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build the package
      run: |
        python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        # Если ваш пакет лежит в корне, путь можно не указывать
        packages-dir: ./dist
        # Для дочерних папок укажите путь к dist
        # packages-dir: ./src/dist

      env:
        # Этот секрет нужно создать в настройках вашего репозитория GitHub
        PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
